/*-- scss:defaults --*/

$body-color: #fff;
$link-color: #4EBF7B;
$body-bg: #11302D;

$presentation-font-size-root: 35px;
$presentation-h1-font-size: 1.5em;
$presentation-h2-font-size: 1.25em;
$presentation-h3-font-size: 1.12em;
$presentation-h4-font-size: 1.07em;

$presentation-heading-font: "Outfit";// todo Outfit font
$presentation-heading-color: body-color; 

$presentation-heading-line-height: 1.2;
$presentation-heading-letter-spacing: normal;
$presentation-heading-text-transform: none;
$presentation-heading-text-shadow: none;
$presentation-heading-font-weight: 600;
$presentation-h1-text-shadow: none;

$code-bg: #9eddd7;
$code-color: #000000;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal .slide code {
  background-color: $code-bg;
  color: $code-color;
}