.inline {
    margin: 0!important;
    height: 30px;
    vertical-align: center;
}

.center-y {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }